m = {}
-------------
m.loop_speed = 1.5
--How long to wait before the next loop, in seconds.

m.estimate_ticks = false
--Estimate rate in ticks per second.

m.scale = 1.5
--Screen Scaling, 1 does nothing, 2 doubles the size, etc

m.banner = "SuPeR Power Monitoring Systems "
--Banner displayed on top of the screen, set to false to disable the banner
--You can set this to the location or name of the place you are monitoring

m.display_precision = 1
--How many units to show on the energy readouts

m.display_units = false
--Show the amount of energy stored in plain form (Not just percentages)

m.glasses_banner = false
--Prefix to the glasses display, leave at false to disable the prefix

m.glasses_xoffset = 2

m.glasses_yoffset = 2

m.id = 1 --Not in use yet

m.startup_delay = 2
--How long to wait after startup before going in to the program.

-------------
m.config_version = "0.5" --Leave this alone
return m