m = {}
m.config_version = 0.1 --Leave this alone
-------------

m.scale = 1.5
--Screen Scaling, 1 does nothing, 2 doubles the size, etc

m.banner = "SuPeR Power Monitoring Systems "
--Banner displayed on top of the screen, set to false to disable the banner
--You can set this to the location or name of the place you are monitoring

m.display_precision = 1

m.display_units = false

m.glasses_banner = false

m.id = 1 --Not in use yet

m.startup_delay = 2

-------------
return m